
.cuerpo__boton {
    display: flex;
    padding: 12px 20px;
    background-color: #6ef132;
    color: #500202;
    border: none;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}