
.resumen__lista .list-group-item {
    background-color: #6ef132;
    color: #500202;
    border-color: #30c573;
}
.resumen__lista .badge {
    background-color: #30c573 !important;
    color: #ffffff;
}